.about-page {
    padding-bottom: 3rem;
}

.about-page h2 {
    padding-bottom: 1rem;
}

.about-sections {
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
}

.about-section {
    padding: 2rem;
    background-color: #f0e3d2;
    border: 6px solid #e6d8c6;
    border-radius: 30px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 900px) {

    .about-page h1 {
        font-size: 3.2rem;
    }

    .about-sections {
        padding: 1.5rem;
    }
}