.login-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    border: 6px solid #e6d8c6;
    border-radius: 30px;
    background: #f0e3d2;
    padding-bottom: 25px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 425px;
    margin-top: 4rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-top: 25px;
}

.text {
    color: #5C4033;
    font-size: 32px;
    font-weight: 700;
}

.underline {
    width: 60px;
    height: 4px;
    background: #ccaa80;
    border-radius: 7px;
}

.inputs {
    width: 100%;
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* .input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    height: 42px;
    background: #fff;
    border: 2px solid #e6d8c6;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
} */

.input input {
    padding: 0 14px;
    height: 42px;
    width: 100%;
    background: transparent;
    color: #333;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 12px;
}

.input input:focus {
    background-color: #fcf7ef86;
}

.submit-container {
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 20px;
    margin: 20px auto;
}

.submit {
    font-size: 16px;
    background-color: #ccaa80;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit:hover {
    background-color: #b38e5b;
    transform: scale(1.05);
}

.gray {
    background: #ada9a4;
    color: #ffffff;
}
/* Mobiili: pienempi vielä tästä */
@media (max-width: 480px) {
    .container {
        margin-top: 35px;
        margin-bottom: 35px;
        padding-bottom: 18px;
    }

    .text {
        font-size: 24px;
    }

    .inputs {
        gap: 13px;
        margin-top: 25px;
    }

    .input {
        height: 40px;
    }

    .input input {
        font-size: 13.5px;
        height: 36px;
    }

    .submit-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 13px;
        margin: auto;
    }

    .submit {
        font-size: 14px;
        height: 40px;
        width: 100%;
        max-width: 185px;
    }
}

