.navbar {
    background-color: #70584d;
    padding: 6px;
    color: #eee0da;
}

.petsIcon:hover {
    color: #b99d8f;
}

/* desktop links */
.nav-link {
    color: #b99d8f;
    font-weight: 400;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.3s ease;
}

.nav-link:hover, .nav-active:hover {
    color: #eee0da;
    font-weight: 400;
    transition: all 0.3s ease;
}

.nav-active {
    text-decoration: none;
    font-size: 1.4rem;
    color: #eee0da;
    font-weight: 400;
}

/* mobile links */
.drawer-link {
    color: #b99d8f;
}

.drawer-link:hover, .drawer-active:hover {
    color: #cab2a6;
}

.drawer {
    background-color: #fdfbf6;
}
