.products-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.products-page h1 {
    text-align: center;
    color: #5C4033;
    margin-bottom: 20px;
}

.filter-container {
    margin-bottom: 20px;
    text-align: center;
}

.filter-container label {
    margin-right: 10px;
    font-weight: bold;
    color: #5C4033;
}

.filter-container select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #5C4033;
}

.product-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    margin: 20px;
    padding: 20px;
    background-color: #d2b48c;
    border-radius: 10px;
    width: 300px;
    border: 2px solid #5C4033;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card h4 {
    color: #5C4033;
    margin-bottom: 10px;
}

.product-card p {
    margin: 5px 0;
    line-height: 1.6;
}