.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    width: 500px;
    margin-top: 4rem;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 1rem;
    text-align: center;
    align-items: center;

    background-color: #f0e3d2;
    border: 6px solid #e6d8c6;
    border-radius: 30px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);

    overflow: hidden;
}

.profile-header {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #5C4033;
}

.profile-details p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.toggle-password-btn {
    margin-left: 1rem;
    padding: 0.2rem 0.5rem;
    background-color: #ccaa80;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

.toggle-password-btn:hover {
    background-color: #b38f6a;
}

.profile-actions {
    margin-top: 2rem;
}

.delete-account-btn {
    margin-bottom: 1rem;
    font-size: 14px;
    background-color: #ccaa80;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.delete-account-btn:hover {
    background-color: #b38e5b;
    transform: scale(1.05);
}

.logout-btn {
    margin-bottom: 1rem;
    background-color: #70584d;
    color: white;
    font-size: 14px;

    padding: 10px 16px;
    border: none;
    letter-spacing: 0.6px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.logout-btn:hover {
    background-color: #5f3d2d;
    transform: scale(1.05);
}

.error-message {
    text-align: center;
    color: #d9534f;
    font-size: 1.2rem;
}